<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kybmig.ssm.mapper.TopicCommentMapper">
    <select id="selectAllTopicComment" resultType="kybmig.ssm.model.TopicCommentModel">
        SELECT * FROM ssm.TopicComment
    </select>


    <select id="selectAllTopicCommentByTopicId" resultType="kybmig.ssm.model.TopicCommentModel">
        SELECT tc.*, u.username as userName, u.avatar as userAvatar FROM ssm.TopicComment tc JOIN ssm.User u ON tc.userId = u.id
        WHERE tc.topicId = #{topicId}
    </select>

    <select id="selectTopicComment" resultType="kybmig.ssm.model.TopicCommentModel">
        SELECT * FROM ssm.TopicComment WHERE id = ${id}
    </select>

    <insert id="insertTopicComment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ssm.TopicComment ( content, userId, topicId, createdTime, updatedTime)
        VALUES ( #{content}, #{userId}, #{topicId}, #{createdTime}, #{updatedTime})
    </insert>
    
    <update id="updateTopicComment">
        UPDATE ssm.TopicComment SET content = #{content}, updatedTime = #{updatedTime} WHERE id = #{id}
    </update>

    <delete id="deleteTopicComment">
        DELETE FROM ssm.TopicComment WHERE id = #{id}
    </delete>
</mapper>