<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kybmig.ssm.mapper.TopicMapper">
    <select id="selectAllTopic" resultType="kybmig.ssm.model.TopicModel">
        SELECT * FROM ssm.Topic
    </select>

    <select id="selectTopic" resultType="kybmig.ssm.model.TopicModel">
        SELECT * FROM ssm.Topic WHERE id = ${id}
    </select>

    <insert id="insertTopic" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ssm.Topic (content, title, userId, createdTime, updatedTime)
        VALUES (#{content}, #{title}, #{userId}, #{createdTime}, #{updatedTime})
    </insert>

    <update id="updateTopic">
        UPDATE ssm.Topic SET content = #{content}, title=#{title}, updatedTime=#{updatedTime} WHERE id = #{id}
    </update>

    <delete id="deleteTopic">
        DELETE FROM ssm.Topic WHERE id = #{id}
    </delete>

    <resultMap id="selectOneWithCommentsMap" type="kybmig.ssm.model.TopicModel">
        <id property="id" column="id" />
        <result property="title"  column="title" />
        <result property="content"  column="content" />
        <result property="userName"  column="username" />
        <result property="createdTime"  column="createdTime" />
        <result property="viewCount"  column="viewCount" />
        <result property="userAvatar"  column="userAvatar" />
        <collection property="commentList" ofType="kybmig.ssm.model.TopicCommentModel">
            <id property="id" column="c_id" />
            <result property="content"  column="c_content" />
        </collection>
    </resultMap>


    <select id="selectOneWithComments" resultMap="selectOneWithCommentsMap">
        SELECT
            Topic.id,
            Topic.title,
            Topic.content,
            Topic.createdTime,
            Topic.viewCount,
            User.username as username,
            User.avatar as userAvatar,
            TopicComment.id as c_id,
            TopicComment.content as c_content
        FROM
            ssm.Topic left join TopicComment
                                on Topic.id = TopicComment.topicId
            left join ssm.User on Topic.userId = User.id
        where Topic.id = #{id}
    </select>

    <select id="selectCreatedTopicWithUserId" resultType="kybmig.ssm.model.TopicModel">
        SELECT t.*, u.avatar as userAvatar
        FROM ssm.Topic t JOIN ssm.User u on t.userId = u.id
        WHERE userId = #{userId} ORDER BY createdTime DESC
    </select>

    <select id="selectJoinedTopicWithUserId" resultType="kybmig.ssm.model.TopicModel">
        SELECT distinct t.*, u.avatar as userAvatar
        FROM ssm.Topic t JOIN TopicComment c ON t.id = c.topicId JOIN ssm.User u ON t.userId = u.id
        WHERE c.userId = #{userId} ORDER BY t.createdTime DESC
    </select>

    <select id="getIndexTopics" resultMap="selectOneWithCommentsMap">
        SELECT t.*,
               u.username as username,
               u.avatar as userAvatar,
               c.id as c_id,
               c.content as c_content
        FROM ssm.Topic t JOIN ssm.User u ON t.userId = u.id LEFT JOIN ssm.TopicComment c ON c.topicId = t.id
        ORDER BY t.createdTime DESC LIMIT 20
    </select>

    <update id="increaseViewCount">
        UPDATE ssm.Topic SET viewCount = viewCount + 1 WHERE id = ${id}
    </update>
</mapper>